public/api/conf/2.0/schemas/iht.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 (http://www.altova.com) by Cap Gemini (Cap Gemini (UK) PLC) -->
<xsd:schema xmlns:subm="http://hmrc.gov.uk/etmp/digitalgateway/inheritance-tax" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://hmrc.gov.uk/etmp/digitalgateway/inheritance-tax" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xsd:include schemaLocation="ETMP_Registration_CommonTypes.xsd"/>
    <xsd:element name="Registration" type="subm:RegistrationType">
        <xsd:annotation>
            <xsd:documentation>Root element of Registration message for Inheritance Tax</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="RegistrationType">
        <xsd:annotation>
            <xsd:documentation>IHT Registration Record</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="EntryType">
                <xsd:annotation>
                    <xsd:documentation>Code for Entry type.

                        Possible values:

                        0001 Free Estate
                        0002 Failed PET (gift)
                        0003 Clawback
                        0004 FCE Death
                        0005 LCTWM - Lifetime
                        0006 Conditional Exemption during Lifetime
                        0007 10yr Anniversary Charge
                        0008 Exit Charge
                        0009 Gift with Reservation

                        FOR MVP, only EntryType value '0001' is supported.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="4"/>
                        <xsd:enumeration value="0001"/>
                        <xsd:enumeration value="0002"/>
                        <xsd:enumeration value="0003"/>
                        <xsd:enumeration value="0004"/>
                        <xsd:enumeration value="0005"/>
                        <xsd:enumeration value="0006"/>
                        <xsd:enumeration value="0007"/>
                        <xsd:enumeration value="0008"/>
                        <xsd:enumeration value="0009"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:choice>
                <xsd:element name="EventType_Death">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="LeadExecutor" type="subm:LeadExecutorDetailsType">
                                <xsd:annotation>
                                    <xsd:documentation>Details of the Lead Executor</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="Deceased" type="subm:DeceasedDetailsType">
                                <xsd:annotation>
                                    <xsd:documentation>Details of the deceased.</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="Executors" minOccurs="0">
                                <xsd:annotation>
                                    <xsd:documentation>List of executors associated with the case.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="Executor" type="subm:ExecutorDetailsType" maxOccurs="3"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="EventType_Others">
                    <xsd:annotation>
                        <xsd:documentation>No other event types currently implemented for MVP</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LeadExecutorDetailsType">
        <xsd:sequence>
            <xsd:element name="Name">
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="Individual" type="subm:IndividualNameType"/>
                        <xsd:element name="Organisation" type="subm:OrganisationNameType">
                            <xsd:annotation>
                                <xsd:documentation>NOT PART OF MVP</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Addresses">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="MainAddress" type="subm:MainAddressDetailsType"/>
                        <xsd:element name="OtherAddress" type="subm:OtherAddressDetailsType" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>NOT PART OF MVP</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Contactdetails" type="subm:ContactDetailsType" minOccurs="0"/>
            <xsd:element name="Identification" type="subm:IdNumbersDoBMandatoryType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ExecutorDetailsType">
        <xsd:sequence>
            <xsd:element name="Name">
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="Individual" type="subm:IndividualNameType"/>
                        <xsd:element name="Organisation" type="subm:OrganisationNameType">
                            <xsd:annotation>
                                <xsd:documentation>NOT PART OF MVP</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Addresses">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="MainAddress" type="subm:MainAddressDetailsType"/>
                        <xsd:element name="OtherAddress" type="subm:OtherAddressDetailsType" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>NOT PART OF MVP</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Contactdetails" type="subm:ContactDetailsType" minOccurs="0"/>
            <xsd:element name="Identification" type="subm:IdNumbersDoBMandatoryType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OtherRolesDetailsType">
        <xsd:sequence>
            <xsd:element name="RoleType">
                <xsd:annotation>
                    <xsd:documentation>Possible values: Donee, Trustee, Settlor, Other</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="10"/>
                        <xsd:enumeration value="Donee"/>
                        <xsd:enumeration value="Settlor"/>
                        <xsd:enumeration value="Trustee"/>
                        <xsd:enumeration value="Other"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Name">
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="Individual" type="subm:IndividualNameType"/>
                        <xsd:element name="Organisation" type="subm:OrganisationNameType">
                            <xsd:annotation>
                                <xsd:documentation>NOT SUPPORTED FOR MVP</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Addresses">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Address" type="subm:OtherAddressDetailsType" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ContactDetails" type="subm:ContactDetailsType" minOccurs="0"/>
            <xsd:element name="Identification" type="subm:IdNumbersAllOptionalType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="IdNumbersType">
        <xsd:sequence>
            <xsd:element name="NINO">
                <xsd:annotation>
                    <xsd:documentation>National Insurance Number</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="9"/>
                        <xsd:pattern value="[A-Z]{2}\d{6}[A-Z]{0,1}"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="DateOfBirth" type="subm:RestrictedDateType"/>
            <xsd:element name="UTR" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Unique Taxpayer Reference</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="10"/>
                        <xsd:pattern value="[0-9]{5}[3-9][0-9]{4}"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="IdNumbersDoBMandatoryType">
        <xsd:sequence>
            <xsd:element name="Gender" type="subm:GenderType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Code for gender of individual Possible values:

                        Code  Meaning
                        -------  ------------
                        1       Male
                        2       Female</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="NINO" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>National Insurance Number</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="9"/>
                        <xsd:pattern value="[A-Z]{2}\d{6}[A-Z]{0,1}"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="DateOfBirth" type="subm:RestrictedDateType">
                <xsd:annotation>
                    <xsd:documentation>Format: YYYY-MM-DD</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UTR" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Unique Taxpayer Reference</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="10"/>
                        <xsd:pattern value="[0-9]{5}[3-9][0-9]{4}"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="IdNumbersAllOptionalType">
        <xsd:sequence>
            <xsd:element name="Gender" type="subm:GenderType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Code for gender of the individual.

                        Possible values:

                        Code  Value
                        -------  --------
                        1     Male
                        2     Female</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="NINO" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>National Insurance Number</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="9"/>
                        <xsd:pattern value="[A-Z]{2}\d{6}[A-Z]{0,1}"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="DateOfBirth" type="subm:RestrictedDateType" minOccurs="0"/>
            <xsd:element name="UTR" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Unique Taxpayer Reference</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="10"/>
                        <xsd:pattern value="[0-9]{5}[3-9][0-9]{4}"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="IdNumbersNINOMandatoryType">
        <xsd:sequence>
            <xsd:element name="Gender" type="subm:GenderType" minOccurs="0"/>
            <xsd:element name="NINO">
                <xsd:annotation>
                    <xsd:documentation>National Insurance Number</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="9"/>
                        <xsd:pattern value="[A-Z]{2}\d{6}[A-Z]{0,1}"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="DateOfBirth" type="subm:RestrictedDateType" minOccurs="0"/>
            <xsd:element name="UTR" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Unique Taxpayer Reference</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="10"/>
                        <xsd:pattern value="[0-9]{5}[3-9][0-9]{4}"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DeceasedDetailsType">
        <xsd:sequence>
            <xsd:element name="Name" type="subm:IndividualNameType"/>
            <xsd:element name="MainAddress" type="subm:MainAddressDetailsType"/>
            <xsd:element name="Identification" type="subm:IdNumbersDoBMandatoryType"/>
            <xsd:element name="MaritalStatus" type="subm:MaritalStatusType">
                <xsd:annotation>
                    <xsd:documentation>Code for Marital Status.

                        Possible Values:

                        Code  Meaning
                        -------  ------------
                        1   Married or Civil Ptr
                        2   Single
                        3   Divorced or former Ptr
                        4   Widowed or a Surv. Ptr
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="DateOfDeath" type="subm:RestrictedDateType">
                <xsd:annotation>
                    <xsd:documentation>Format: YYYY-MM-DD</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Domicile">
                <xsd:annotation>
                    <xsd:documentation>Possible values

                        Code  Meaning
                        -------  ---------------
                        0001   England or Wales
                        0002   Scotland
                        0003   Northern Ireland
                        0004   Other

                        Only '0001' is supported for the MVP.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="subm:DomicileType">
                        <xsd:length value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="OtherDomicile" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Only fill this when Domicile value = '0004' (Other)

                        2-digit ISO-code (excluding GB).
                        For example:
                        AT  Austria
                        BE   Belguim
                        DE  Germany
                        HU  Hungary
                        GR  Greece
                        US  United States</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="subm:CountryCodeNoGBType">
                        <xsd:length value="2"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Occupation" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"/>
                        <xsd:maxLength value="60"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
