public/api/conf/2.0/schemas/trustestate-21-11-2016.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 sp1 (http://www.altova.com) by D Wright (opencast) -->
<xsi:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema">
	<xsi:element name="trustEstate">
		<xsi:annotation>
			<xsi:documentation>Root of the Trusts and Estates schema</xsi:documentation>
		</xsi:annotation>
		<xsi:complexType>
			<xsi:choice>
				<xsi:element name="trust" type="trustType" minOccurs="0" maxOccurs="1"/>
				<xsi:element name="estate" type="estateType" minOccurs="0" maxOccurs="1"/>
			</xsi:choice>
		</xsi:complexType>
	</xsi:element>
	<xsi:complexType name="trustType">
		<xsi:annotation>
			<xsi:documentation>A Trust</xsi:documentation>
		</xsi:annotation>
		<xsi:all>
			<xsi:element name="trustName" minOccurs="1" maxOccurs="1">
				<xsi:simpleType>
					<xsi:restriction base="xsi:string">
						<xsi:length value="56"/>
					</xsi:restriction>
				</xsi:simpleType>
			</xsi:element>
			<xsi:element name="correspondenceAddress" type="correspondenceAddressType" minOccurs="1" maxOccurs="1"/>
			<xsi:element name="telephoneNumber" type="telephoneNumberType" minOccurs="1" maxOccurs="1"/>
			<xsi:element name="currentYear" minOccurs="1" maxOccurs="1">
				<xsi:simpleType>
					<xsi:restriction base="xsi:string">
						<xsi:length value="4"/>
					</xsi:restriction>
				</xsi:simpleType>
			</xsi:element>
			<xsi:element name="commencementDate" type="xsi:date" minOccurs="1" maxOccurs="1"/>
			<xsi:element name="legality" type="legalityType" minOccurs="1" maxOccurs="1"/>
			<xsi:element name="isTrustUkResident" type="xsi:boolean" minOccurs="1" maxOccurs="1"/>
			<xsi:element name="isTCGA925A" type="xsi:boolean" minOccurs="1" maxOccurs="1"/>
			<xsi:element name="isS218IHTA84" type="xsi:boolean" minOccurs="1" maxOccurs="1"/>
			<xsi:element name="isNonResTypeIHTA84S218" type="xsi:boolean" minOccurs="1" maxOccurs="1"/>
			<xsi:element name="nonResidentType" type="residentTypeType" minOccurs="1" maxOccurs="1"/>
			<xsi:element name="leadTrustee" type="leadTrusteeType" minOccurs="1" maxOccurs="1"/>
			<xsi:element name="trustees" type="trusteesType" minOccurs="0" maxOccurs="1"/>
			<xsi:element name="protectors" type="protectorsType" minOccurs="0" maxOccurs="1"/>
			<xsi:element name="naturalPeople" type="naturalPeopleType" minOccurs="0" maxOccurs="1"/>
			<xsi:element name="declaration" type="declarationType" minOccurs="1" maxOccurs="1"/>
			<xsi:element name="trustTypeType">
				<xsi:complexType>
					<xsi:choice>
						<xsi:element name="willIntestacyTrust" type="willIntestacyTrustType" minOccurs="0" maxOccurs="1"/>
						<xsi:element name="interVivoTrust" type="interVivoTrustType" minOccurs="0" maxOccurs="1"/>
						<xsi:element name="heritageMaintenanceFundTrust" type="heritageMaintenanceFundTrustType" minOccurs="0" maxOccurs="1"/>
						<xsi:element name="employmentTrust" type="employmentTrustType" minOccurs="0" maxOccurs="1"/>
						<xsi:element name="flatManagementSinkingFundTrust" type="flatManagementSinkingFundTrustType" minOccurs="0" maxOccurs="1"/>
					</xsi:choice>
				</xsi:complexType>
			</xsi:element>
		</xsi:all>
	</xsi:complexType>
	<xsi:complexType name="estateType">
		<xsi:annotation>
			<xsi:documentation>An Estate</xsi:documentation>
		</xsi:annotation>
		<xsi:all>
			<xsi:element name="deceased" type="deceasedType" minOccurs="1" maxOccurs="1"/>
			<xsi:element name="personalRepresentative" type="personalRepresentativeType" minOccurs="1" maxOccurs="1"/>
			<xsi:element name="isCreatedByWill" type="xsi:boolean" minOccurs="1" maxOccurs="1"/>
			<xsi:element name="estateCriteriaMet" type="xsi:boolean" minOccurs="1" maxOccurs="1"/>
			<xsi:element name="adminPeriodFinishedDate" type="xsi:boolean" minOccurs="1" maxOccurs="1"/>
			<xsi:element name="incomeTaxDueMoreThan10000" type="xsi:boolean" minOccurs="1" maxOccurs="1"/>
			<xsi:element name="saleOfEstateAssetsMoreThan250000" type="xsi:boolean" minOccurs="1" maxOccurs="1"/>
			<xsi:element name="saleOfEstateAssetsMoreThan500000" type="xsi:boolean" minOccurs="1" maxOccurs="1"/>
			<xsi:element name="worthMoreThanTwoAndHalfMillionAtTimeOfDeath" type="xsi:boolean" minOccurs="1" maxOccurs="1"/>
		</xsi:all>
	</xsi:complexType>
	<xsi:complexType name="willIntestacyTrustType">
		<xsi:all>
			<xsi:element name="assets" minOccurs="1" maxOccurs="1">
				<xsi:complexType>
					<xsi:sequence>
						<xsi:element name="monetaryAssets" type="monetaryAssetsType" minOccurs="0" maxOccurs="1"/>
						<xsi:element name="propertyAssets" type="propertyAssetsType" minOccurs="0" maxOccurs="1"/>
						<xsi:element name="businessAssets" type="businessAssetsType" minOccurs="0" maxOccurs="1"/>
						<xsi:element name="shareAssets" type="shareAssetsType" minOccurs="0" maxOccurs="1"/>
						<xsi:element name="otherAssets" type="otherAssetsType" minOccurs="0" maxOccurs="1"/>
					</xsi:sequence>
				</xsi:complexType>
			</xsi:element>
			<xsi:element name="settlors" type="settlorsType" minOccurs="0" maxOccurs="1"/>
			<xsi:element name="deceased" type="deceasedType" minOccurs="1" maxOccurs="1"/>
			<xsi:element name="beneficiaries" minOccurs="1" maxOccurs="1">
				<xsi:complexType>
					<xsi:sequence>
						<xsi:element name="individualBeneficiaries" type="individualBeneficiariesType" minOccurs="0" maxOccurs="1"/>
						<xsi:element name="charityBeneficiaries" type="charityBeneficiariesType" minOccurs="0" maxOccurs="1"/>
						<xsi:element name="otherBeneficiaries" type="otherBeneficiariesType" minOccurs="0" maxOccurs="1"/>
					</xsi:sequence>
				</xsi:complexType>
			</xsi:element>
		</xsi:all>
	</xsi:complexType>
	<xsi:complexType name="interVivoTrustType">
		<xsi:all>
			<xsi:element name="assets" minOccurs="1" maxOccurs="1">
				<xsi:complexType>
					<xsi:sequence>
						<xsi:element name="monetaryAssets" type="monetaryAssetsType" minOccurs="0" maxOccurs="1"/>
						<xsi:element name="propertyAssets" type="propertyAssetsType" minOccurs="0" maxOccurs="1"/>
						<xsi:element name="shareAssets" type="shareAssetsType" minOccurs="0" maxOccurs="1"/>
						<xsi:element name="businessAssets" type="businessAssetsType" minOccurs="0" maxOccurs="1"/>
						<xsi:element name="partnershipAssets" type="partnershipAssetsType" minOccurs="0" maxOccurs="1"/>
						<xsi:element name="otherAssets" type="otherAssetsType" minOccurs="0" maxOccurs="1"/>
					</xsi:sequence>
				</xsi:complexType>
			</xsi:element>
			<xsi:element name="settlors" type="settlorsType" minOccurs="0" maxOccurs="1"/>
			<xsi:element name="beneficiaries" minOccurs="1" maxOccurs="1">
				<xsi:complexType>
					<xsi:sequence>
						<xsi:element name="individualBeneficiaries" type="individualBeneficiariesType" minOccurs="0" maxOccurs="1"/>
						<xsi:element name="charityBeneficiaries" type="charityBeneficiariesType" minOccurs="0" maxOccurs="1"/>
						<xsi:element name="otherBeneficiaries" type="otherBeneficiariesType" minOccurs="0" maxOccurs="1"/>
					</xsi:sequence>
				</xsi:complexType>
			</xsi:element>
			<xsi:element name="isHoldOverClaimed" type="xsi:boolean" minOccurs="1" maxOccurs="1"/>
		</xsi:all>
	</xsi:complexType>
	<xsi:complexType name="heritageMaintenanceFundTrustType">
		<xsi:all>
			<xsi:element name="assets" minOccurs="1" maxOccurs="1">
				<xsi:complexType>
					<xsi:sequence>
						<xsi:element name="monetaryAssets" type="monetaryAssetsType" minOccurs="0" maxOccurs="1"/>
						<xsi:element name="propertyAssets" type="propertyAssetsType" minOccurs="0" maxOccurs="1"/>
						<xsi:element name="shareAssets" type="shareAssetsType" minOccurs="0" maxOccurs="1"/>
						<xsi:element name="otherAssets" type="otherAssetsType" minOccurs="0" maxOccurs="1"/>
					</xsi:sequence>
				</xsi:complexType>
			</xsi:element>
			<xsi:element name="settlors" type="settlorsType" minOccurs="0" maxOccurs="1"/>
			<xsi:element name="beneficiaries" minOccurs="1" maxOccurs="1">
				<xsi:complexType>
					<xsi:sequence>
						<xsi:element name="buildingLandBeneficiary" type="buildingLandBeneficiariesType" minOccurs="0" maxOccurs="1"/>
						<xsi:element name="otherBeneficiaries" type="otherBeneficiariesType" minOccurs="0" maxOccurs="1"/>
					</xsi:sequence>
				</xsi:complexType>
			</xsi:element>
			<xsi:element name="isMultiPurposeIncome" type="xsi:boolean" minOccurs="1" maxOccurs="1"/>
		</xsi:all>
	</xsi:complexType>
	<xsi:complexType name="flatManagementSinkingFundTrustType">
		<xsi:all>
			<xsi:element name="assets" minOccurs="1" maxOccurs="1">
				<xsi:complexType>
					<xsi:all>
						<xsi:element name="monetaryAssets" type="monetaryAssetsType" minOccurs="0" maxOccurs="1"/>
					</xsi:all>
				</xsi:complexType>
			</xsi:element>
			<xsi:element name="settlors" type="settlorsType" minOccurs="0" maxOccurs="1"/>
			<xsi:element name="beneficiaries" minOccurs="1" maxOccurs="1">
				<xsi:complexType>
					<xsi:sequence>
						<xsi:element name="buildingLandBeneficiary" type="buildingLandBeneficiariesType" minOccurs="0" maxOccurs="1"/>
						<xsi:element name="otherBeneficiaries" type="otherBeneficiariesType" minOccurs="0" maxOccurs="1"/>
					</xsi:sequence>
				</xsi:complexType>
			</xsi:element>
		</xsi:all>
	</xsi:complexType>
	<xsi:complexType name="employmentTrustType">
		<xsi:all>
			<xsi:element name="assets" minOccurs="1" maxOccurs="1">
				<xsi:complexType>
					<xsi:sequence>
						<xsi:element name="monetaryAssets" type="monetaryAssetsType" minOccurs="0" maxOccurs="1"/>
						<xsi:element name="propertyAssets" type="propertyAssetsType" minOccurs="0" maxOccurs="1"/>
						<xsi:element name="shareAssets" type="shareAssetsType" minOccurs="0" maxOccurs="1"/>
						<xsi:element name="businessAssets" type="businessAssetsType" minOccurs="0" maxOccurs="1"/>
						<xsi:element name="otherAssets" type="otherAssetsType" minOccurs="0" maxOccurs="1"/>
					</xsi:sequence>
				</xsi:complexType>
			</xsi:element>
			<xsi:element name="settlors" type="settlorsType" minOccurs="0" maxOccurs="1"/>
			<xsi:element name="beneficiaries" minOccurs="1" maxOccurs="1">
				<xsi:complexType>
					<xsi:sequence>
						<xsi:element name="individualBeneficiaries" type="individualBeneficiariesType" minOccurs="0" maxOccurs="1"/>
						<xsi:element name="employeeBeneficiaries" type="employeeBeneficiariesType" minOccurs="0" maxOccurs="1"/>
						<xsi:element name="directorBeneficiaries" type="directorBeneficiariesType" minOccurs="0" maxOccurs="1"/>
						<xsi:element name="otherBeneficiaries" type="otherBeneficiariesType" minOccurs="0" maxOccurs="1"/>
					</xsi:sequence>
				</xsi:complexType>
			</xsi:element>
			<xsi:element name="isEmployerFinancedRetirementBenefitScheme" type="xsi:boolean" minOccurs="1" maxOccurs="1"/>
			<xsi:element name="employerFinancedRetirementBenefitSchemeStartDate" type="xsi:date" minOccurs="0" maxOccurs="1"/>
		</xsi:all>
	</xsi:complexType>
	<xsi:complexType name="legalityType">
		<xsi:all>
			<xsi:element name="governingCountryCode" type="countryCodeType" minOccurs="1" maxOccurs="1"/>
			<xsi:element name="administrationCountryCode" type="countryCodeType" minOccurs="1" maxOccurs="1"/>
			<xsi:element name="previousOffshoreCountryCode" type="countryCodeType" minOccurs="0" maxOccurs="1"/>
			<xsi:element name="isEstablishedUnderScottishLaw" type="xsi:boolean" minOccurs="1" maxOccurs="1"/>
		</xsi:all>
	</xsi:complexType>
	<xsi:complexType name="individualType">
		<xsi:all minOccurs="1">
			<xsi:element name="title" type="xsi:string" minOccurs="1" maxOccurs="1"/>
			<xsi:element name="givenName" minOccurs="1" maxOccurs="1">
				<xsi:simpleType>
					<xsi:restriction base="xsi:string">
						<xsi:length value="25"/>
					</xsi:restriction>
				</xsi:simpleType>
			</xsi:element>
			<xsi:element name="otherName" minOccurs="0" maxOccurs="1">
				<xsi:simpleType>
					<xsi:restriction base="xsi:string">
						<xsi:length value="25"/>
					</xsi:restriction>
				</xsi:simpleType>
			</xsi:element>
			<xsi:element name="familyName" minOccurs="1" maxOccurs="1">
				<xsi:simpleType>
					<xsi:restriction base="xsi:string">
						<xsi:length value="25"/>
					</xsi:restriction>
				</xsi:simpleType>
			</xsi:element>
			<xsi:element name="dateOfBirth" type="xsi:date" minOccurs="0" maxOccurs="1"/>
			<xsi:element name="nino" minOccurs="0" maxOccurs="1">
				<xsi:simpleType>
					<xsi:restriction base="xsi:string">
						<xsi:length value="9"/>
						<!--<xsi:pattern value=""/> -->
						<!-- Find pattern match for nino from hmrc -->
					</xsi:restriction>
				</xsi:simpleType>
			</xsi:element>
			<xsi:element name="passportOrIdCard" minOccurs="0" maxOccurs="1">
				<xsi:complexType>
					<xsi:all>
						<xsi:element name="referenceNumber" minOccurs="1" maxOccurs="1">
							<xsi:simpleType>
								<xsi:restriction base="xsi:string">
									<xsi:length value="30"/>
								</xsi:restriction>
							</xsi:simpleType>
						</xsi:element>
						<xsi:element name="expiryDate" type="xsi:date"/>
						<xsi:element name="countryOfIssue" type="countryCodeType"/>
					</xsi:all>
				</xsi:complexType>
			</xsi:element>
			<xsi:element name="correspondenceAddress" type="correspondenceAddressType" minOccurs="1" maxOccurs="1"/>
			<xsi:element name="telephoneNumber" type="telephoneNumberType" minOccurs="0" maxOccurs="1"/>
			<!-- can we make this 'nicer'? is it required for all individuals or just lead trustee? -> not required for trustees -->
			<xsi:element name="isUkNationalOrNonUkWithANino" type="xsi:boolean" minOccurs="1" maxOccurs="1"/>
		</xsi:all>
	</xsi:complexType>
	<xsi:complexType name="deceasedType">
		<xsi:all>
			<xsi:element name="individual" type="individualType" minOccurs="1" maxOccurs="1"/>
			<xsi:element name="dateOfDeath" type="xsi:date" minOccurs="1" maxOccurs="1"/>
			<xsi:element name="correspondenceAddress" type="correspondenceAddressType" minOccurs="0" maxOccurs="1"/>
		</xsi:all>
	</xsi:complexType>
	<xsi:complexType name="personalRepresentativeType">
		<xsi:all>
			<xsi:element name="individual" type="individualType" minOccurs="1" maxOccurs="1"/>
			<xsi:element name="correspondenceAddress" type="correspondenceAddressType" minOccurs="1" maxOccurs="1"/>
			<xsi:element name="telephoneNumber" type="telephoneNumberType" minOccurs="1" maxOccurs="1"/>
			<xsi:element name="isExecutor" type="xsi:boolean" minOccurs="1" maxOccurs="1"/>
		</xsi:all>
	</xsi:complexType>
	<xsi:complexType name="leadTrusteeType">
		<xsi:choice>
			<xsi:element name="individual" type="individualType" minOccurs="0" maxOccurs="1"/>
			<xsi:element name="company" type="companyType" minOccurs="0" maxOccurs="1"/>
		</xsi:choice>
	</xsi:complexType>
	<xsi:complexType name="trusteesType">
		<xsi:sequence>
			<xsi:element name="individuals" type="individualType" minOccurs="0" maxOccurs="unbounded"/>
			<xsi:element name="companies" type="companyType" minOccurs="0" maxOccurs="unbounded"/>
		</xsi:sequence>
	</xsi:complexType>
	<xsi:complexType name="protectorsType">
		<xsi:sequence>
			<xsi:element name="individuals" type="individualType" minOccurs="0" maxOccurs="2"/>
			<xsi:element name="companies" type="companyType" minOccurs="0" maxOccurs="2"/>
		</xsi:sequence>
	</xsi:complexType>
	<xsi:complexType name="naturalPeopleType">
		<xsi:sequence>
			<xsi:element name="individuals" type="individualType" minOccurs="0" maxOccurs="unbounded"/>
		</xsi:sequence>
	</xsi:complexType>
	<xsi:complexType name="declarationType">
		<xsi:all>
			<xsi:element name="title" type="xsi:string" minOccurs="1" maxOccurs="1"/>
			<xsi:element name="givenName" type="xsi:string" minOccurs="1" maxOccurs="1"/>
			<xsi:element name="otherName" type="xsi:string" minOccurs="0" maxOccurs="1"/>
			<xsi:element name="familyName" type="xsi:string" minOccurs="1" maxOccurs="1"/>
			<xsi:element name="capacity" type="roleType" minOccurs="1" maxOccurs="1"/>
			<xsi:element name="dateOfDeclaration" type="xsi:date" minOccurs="1" maxOccurs="1"/>
			<!-- Confirmation that the information given is true -->
			<xsi:element name="confirmation" type="xsi:boolean" minOccurs="1" maxOccurs="1"/>
		</xsi:all>
	</xsi:complexType>
	<xsi:complexType name="settlorsType">
		<xsi:sequence>
			<xsi:element name="individuals" type="individualType" minOccurs="0" maxOccurs="unbounded"/>
			<xsi:element name="companies" type="companyType" minOccurs="0" maxOccurs="unbounded"/>
		</xsi:sequence>
	</xsi:complexType>
	<xsi:complexType name="companyType">
		<xsi:all minOccurs="1">
			<xsi:element name="companyName" minOccurs="1" maxOccurs="1">
				<xsi:simpleType>
					<xsi:restriction base="xsi:string">
						<xsi:length value="56"/>
					</xsi:restriction>
				</xsi:simpleType>
			</xsi:element>
			<xsi:element name="referenceNumber" minOccurs="1" maxOccurs="1">
				<xsi:simpleType>
					<xsi:restriction base="xsi:string">
						<xsi:length value="20"/>
					</xsi:restriction>
				</xsi:simpleType>
			</xsi:element>
			<xsi:element name="correspondenceAddress" type="correspondenceAddressType" minOccurs="1" maxOccurs="1"/>
			<xsi:element name="telephoneNumber" type="telephoneNumberType" minOccurs="1" maxOccurs="1"/>
		</xsi:all>
	</xsi:complexType>
	<xsi:complexType name="assetsType">
		<xsi:choice>
			<xsi:element name="monetaryAssets" type="monetaryAssetsType" minOccurs="0" maxOccurs="1"/>
			<xsi:element name="propertyAssets" type="propertyAssetsType" minOccurs="0" maxOccurs="1"/>
			<xsi:element name="shareAssets" type="shareAssetsType" minOccurs="0" maxOccurs="1"/>
			<xsi:element name="businessAssets" type="businessAssetsType" minOccurs="0" maxOccurs="1"/>
			<xsi:element name="partnershipAssets" type="partnershipAssetsType" minOccurs="0" maxOccurs="1"/>
			<xsi:element name="otherAssets" type="otherAssetsType" minOccurs="0" maxOccurs="1"/>
		</xsi:choice>
	</xsi:complexType>
	<xsi:complexType name="monetaryAssetsType">
		<xsi:sequence>
			<xsi:element name="monetaryAsset" minOccurs="0" maxOccurs="unbounded">
				<xsi:complexType>
					<xsi:all>
						<xsi:element name="value" minOccurs="1" maxOccurs="1">
							<xsi:simpleType>
								<xsi:restriction base="xsi:decimal">
									<xsi:minInclusive value="0.00"/>
									<xsi:maxExclusive value="1000000000000.00"/>
									<xsi:fractionDigits value="2"/>
								</xsi:restriction>
							</xsi:simpleType>
						</xsi:element>
					</xsi:all>
				</xsi:complexType>
			</xsi:element>
		</xsi:sequence>
	</xsi:complexType>
	<xsi:complexType name="propertyAssetsType">
		<xsi:sequence>
			<xsi:element name="propertyAsset" minOccurs="0" maxOccurs="unbounded">
				<xsi:complexType>
					<xsi:all>
						<xsi:element name="buildingLandName" minOccurs="1" maxOccurs="1">
							<xsi:simpleType>
								<xsi:restriction base="xsi:string">
									<xsi:length value="10"/>
								</xsi:restriction>
							</xsi:simpleType>
						</xsi:element>
						<xsi:element name="correspondenceAddress" type="correspondenceAddressType" minOccurs="1" maxOccurs="1"/>
						<xsi:element name="propertyLandValue" minOccurs="1" maxOccurs="1">
							<xsi:simpleType>
								<xsi:restriction base="xsi:decimal">
									<xsi:minInclusive value="0.00"/>
									<xsi:maxExclusive value="1000000000000.00"/>
									<xsi:fractionDigits value="2"/>
								</xsi:restriction>
							</xsi:simpleType>
						</xsi:element>
						<xsi:element name="propertyLandEvalDate" type="xsi:date" minOccurs="0" maxOccurs="1"/>
					</xsi:all>
				</xsi:complexType>
			</xsi:element>
		</xsi:sequence>
	</xsi:complexType>
	<xsi:complexType name="shareAssetsType">
		<xsi:sequence>
			<xsi:element name="shareAsset" minOccurs="0" maxOccurs="unbounded">
				<xsi:complexType>
					<xsi:all>
						<xsi:element name="numberShares" type="xsi:integer" minOccurs="1" maxOccurs="1"/>
						<xsi:element name="shareType" minOccurs="1" maxOccurs="1">
							<xsi:simpleType>
								<xsi:annotation>
									<xsi:documentation>Possible share types
										Code   Title
										----   -----
										0001    Ordinary shares
										0002 	Non-voting shares
										0003 	Redeemable shares
										0004	Preference shares
										0005 	Deferred ordinary shares
										0006 	Management shares
										0007 	Other classes of shares
										0008 	Voting shares
										0009 	Dividend shares
										0010 	Capital share
										0011 	Other
									</xsi:documentation>
								</xsi:annotation>
								<xsi:restriction base="xsi:string">
									<xsi:enumeration value="0001"/>
									<xsi:enumeration value="0002"/>
									<xsi:enumeration value="0003"/>
									<xsi:enumeration value="0004"/>
									<xsi:enumeration value="0005"/>
									<xsi:enumeration value="0006"/>
									<xsi:enumeration value="0007"/>
									<xsi:enumeration value="0008"/>
									<xsi:enumeration value="0009"/>
									<xsi:enumeration value="0010"/>
									<xsi:enumeration value="0011"/>
									<!-- <xsi:pattern value="^[0-9]{8}$ | ^[SC]{2}[0-9]{6}$"/> -->
								</xsi:restriction>
							</xsi:simpleType>
						</xsi:element>
						<xsi:element name="shareClass" type="xsi:string" minOccurs="1" maxOccurs="1"/>
						<xsi:element name="shareCompanyRegistrationNumber" minOccurs="1" maxOccurs="1">
							<xsi:simpleType>
								<xsi:restriction base="xsi:string">
									<xsi:length value="10"/>
								</xsi:restriction>
							</xsi:simpleType>
						</xsi:element>
						<xsi:element name="shareValue" minOccurs="1" maxOccurs="1">
							<xsi:simpleType>
								<xsi:restriction base="xsi:decimal">
									<xsi:minInclusive value="0.00"/>
									<xsi:maxExclusive value="1000000000000.00"/>
									<xsi:fractionDigits value="2"/>
								</xsi:restriction>
							</xsi:simpleType>
						</xsi:element>
					</xsi:all>
				</xsi:complexType>
			</xsi:element>
		</xsi:sequence>
	</xsi:complexType>
	<xsi:complexType name="businessAssetsType">
		<xsi:sequence>
			<xsi:element name="businessAsset" minOccurs="0" maxOccurs="unbounded">
				<xsi:complexType>
					<xsi:all>
						<xsi:element name="businessName" minOccurs="1" maxOccurs="1">
							<xsi:simpleType>
								<xsi:restriction base="xsi:string">
									<xsi:length value="56"/>
								</xsi:restriction>
							</xsi:simpleType>
						</xsi:element>
						<xsi:element name="businessPayeRef" minOccurs="1" maxOccurs="1">
							<xsi:simpleType>
								<xsi:restriction base="xsi:string">
									<xsi:length value="13"/>
								</xsi:restriction>
							</xsi:simpleType>
						</xsi:element>
						<xsi:element name="businessDescription" minOccurs="1" maxOccurs="1">
							<xsi:simpleType>
								<xsi:restriction base="xsi:string">
									<xsi:length value="56"/>
								</xsi:restriction>
							</xsi:simpleType>
						</xsi:element>
						<xsi:element name="correspondenceAddress" type="correspondenceAddressType" minOccurs="1" maxOccurs="1"/>
						<xsi:element name="businessValue" minOccurs="1" maxOccurs="1">
							<xsi:simpleType>
								<xsi:restriction base="xsi:decimal">
									<xsi:minInclusive value="0.00"/>
									<xsi:maxExclusive value="1000000000000.00"/>
									<xsi:fractionDigits value="2"/>
								</xsi:restriction>
							</xsi:simpleType>
						</xsi:element>
						<xsi:element name="lastValuationDate" type="xsi:date" minOccurs="0" maxOccurs="1"/>
					</xsi:all>
				</xsi:complexType>
			</xsi:element>
		</xsi:sequence>
	</xsi:complexType>
	<xsi:complexType name="partnershipAssetsType">
		<xsi:sequence>
			<xsi:element name="partnershipAsset" minOccurs="0" maxOccurs="unbounded">
				<xsi:complexType>
					<xsi:all>
						<xsi:element name="tradeOrProfession" type="xsi:string" minOccurs="1" maxOccurs="1"/>
						<xsi:element name="utr" type="xsi:string"/>
						<xsi:element name="startOfPartnership" type="xsi:string"/>
						<xsi:element name="value" minOccurs="1" maxOccurs="1">
							<xsi:simpleType>
								<xsi:restriction base="xsi:decimal">
									<xsi:minInclusive value="0.00"/>
									<xsi:maxExclusive value="1000000000000.00"/>
									<xsi:fractionDigits value="2"/>
								</xsi:restriction>
							</xsi:simpleType>
						</xsi:element>
					</xsi:all>
				</xsi:complexType>
			</xsi:element>
		</xsi:sequence>
	</xsi:complexType>
	<xsi:complexType name="otherAssetsType">
		<xsi:sequence>
			<xsi:element name="otherAsset" minOccurs="0" maxOccurs="unbounded">
				<xsi:complexType>
					<xsi:all>
						<xsi:element name="OtherAssetDescription" type="xsi:string" minOccurs="1" maxOccurs="1"/>
						<xsi:element name="value" type="xsi:decimal" minOccurs="1" maxOccurs="1"/>
						<xsi:element name="lastValuationDate" type="xsi:string" minOccurs="0" maxOccurs="1"/>
					</xsi:all>
				</xsi:complexType>
			</xsi:element>
		</xsi:sequence>
	</xsi:complexType>
	<xsi:complexType name="beneficiariesType">
		<xsi:choice>
			<xsi:element name="individualBeneficiaries" type="individualBeneficiariesType" minOccurs="0" maxOccurs="1"/>
			<xsi:element name="charityBeneficiaries" type="charityBeneficiariesType" minOccurs="0" maxOccurs="1"/>
			<xsi:element name="buildingLandBeneficiaries" type="buildingLandBeneficiariesType" minOccurs="0" maxOccurs="1"/>
			<xsi:element name="otherBeneficiaries" type="otherBeneficiariesType" minOccurs="0" maxOccurs="1"/>
			<xsi:element name="directorBeneficiaries" type="directorBeneficiariesType" minOccurs="0" maxOccurs="1"/>
			<xsi:element name="employeeBeneficiaries" type="employeeBeneficiariesType" minOccurs="0" maxOccurs="1"/>
		</xsi:choice>
	</xsi:complexType>
	<xsi:complexType name="charityBeneficiariesType">
		<xsi:sequence>
			<xsi:element name="charityBeneficiary" minOccurs="0" maxOccurs="unbounded">
				<xsi:complexType>
					<xsi:all>
						<xsi:element name="charityName" minOccurs="1" maxOccurs="1">
							<xsi:simpleType>
								<xsi:restriction base="xsi:string">
									<xsi:length value="56"/>
								</xsi:restriction>
							</xsi:simpleType>
						</xsi:element>
						<xsi:element name="charityNumber" minOccurs="1" maxOccurs="1">
							<xsi:simpleType>
								<xsi:restriction base="xsi:string">
									<xsi:length value="8"/>
								</xsi:restriction>
							</xsi:simpleType>
						</xsi:element>
						<xsi:element name="income" type="incomeType" minOccurs="1" maxOccurs="1"/>
						<xsi:element name="correspondenceAddress" type="correspondenceAddressType" minOccurs="1" maxOccurs="1"/>
					</xsi:all>
				</xsi:complexType>
			</xsi:element>
		</xsi:sequence>
	</xsi:complexType>
	<xsi:complexType name="individualBeneficiariesType">
		<xsi:sequence>
			<xsi:element name="individualBeneficiary" minOccurs="0" maxOccurs="unbounded">
				<xsi:complexType>
					<xsi:all>
						<xsi:element name="individual" type="individualType" minOccurs="1" maxOccurs="1"/>
						<xsi:element name="isVulnerable" type="xsi:boolean" minOccurs="1" maxOccurs="1"/>
						<xsi:element name="income" type="incomeType" minOccurs="1" maxOccurs="1"/>
					</xsi:all>
				</xsi:complexType>
			</xsi:element>
		</xsi:sequence>
	</xsi:complexType>
	<xsi:complexType name="buildingLandBeneficiariesType">
		<xsi:sequence>
			<xsi:element name="buildingBeneficiary" minOccurs="0" maxOccurs="unbounded">
				<xsi:complexType>
					<xsi:all>
						<xsi:element name="correspondenceAddress" type="correspondenceAddressType" minOccurs="1" maxOccurs="1"/>
						<xsi:element name="income" type="incomeType" minOccurs="1" maxOccurs="1"/>
					</xsi:all>
				</xsi:complexType>
			</xsi:element>
		</xsi:sequence>
	</xsi:complexType>
	<xsi:complexType name="otherBeneficiariesType">
		<xsi:sequence>
			<xsi:element name="otherBeneficiary" minOccurs="0" maxOccurs="unbounded">
				<xsi:complexType>
					<xsi:all>
						<xsi:element name="beneficiaryDescription" minOccurs="1" maxOccurs="1">
							<xsi:simpleType>
								<xsi:restriction base="xsi:string">
									<xsi:length value="35"/>
								</xsi:restriction>
							</xsi:simpleType>
						</xsi:element>
						<xsi:element name="correspondenceAddress" type="correspondenceAddressType" minOccurs="1" maxOccurs="1"/>
						<xsi:element name="income" type="incomeType" minOccurs="1" maxOccurs="1"/>
					</xsi:all>
				</xsi:complexType>
			</xsi:element>
		</xsi:sequence>
	</xsi:complexType>
	<xsi:complexType name="directorBeneficiariesType">
		<xsi:sequence>
			<xsi:element name="directorBeneficiary" minOccurs="0" maxOccurs="unbounded">
				<xsi:complexType>
					<xsi:all>
						<xsi:element name="individual" type="individualType" minOccurs="1" maxOccurs="1"/>
						<xsi:element name="isVulnerable" type="xsi:boolean" minOccurs="1" maxOccurs="1"/>
						<xsi:element name="income" type="incomeType" minOccurs="1" maxOccurs="1"/>
					</xsi:all>
				</xsi:complexType>
			</xsi:element>
		</xsi:sequence>
	</xsi:complexType>
	<xsi:complexType name="employeeBeneficiariesType">
		<xsi:sequence>
			<xsi:element name="employeeBeneficiary" minOccurs="0" maxOccurs="unbounded">
				<xsi:complexType>
					<xsi:all>
						<xsi:element name="individual" type="individualType" minOccurs="1" maxOccurs="1"/>
						<xsi:element name="isVulnerable" type="xsi:boolean" minOccurs="1" maxOccurs="1"/>
						<xsi:element name="income" type="incomeType" minOccurs="1" maxOccurs="1"/>
					</xsi:all>
				</xsi:complexType>
			</xsi:element>
		</xsi:sequence>
	</xsi:complexType>
	<xsi:complexType name="correspondenceAddressType">
		<xsi:all>
			<xsi:element name="line1" minOccurs="1" maxOccurs="1">
				<xsi:simpleType>
					<xsi:restriction base="xsi:string">
						<xsi:length value="28"/>
					</xsi:restriction>
				</xsi:simpleType>
			</xsi:element>
			<xsi:element name="line2" minOccurs="0" maxOccurs="1">
				<xsi:simpleType>
					<xsi:restriction base="xsi:string">
						<xsi:length value="28"/>
					</xsi:restriction>
				</xsi:simpleType>
			</xsi:element>
			<xsi:element name="line3" minOccurs="0" maxOccurs="1">
				<xsi:simpleType>
					<xsi:restriction base="xsi:string">
						<xsi:length value="28"/>
					</xsi:restriction>
				</xsi:simpleType>
			</xsi:element>
			<xsi:element name="line4" minOccurs="0" maxOccurs="1">
				<xsi:simpleType>
					<xsi:restriction base="xsi:string">
						<xsi:length value="17"/>
					</xsi:restriction>
				</xsi:simpleType>
			</xsi:element>
			<xsi:element name="postalCode" type="postalCodeType" minOccurs="0" maxOccurs="1"/>
			<xsi:element name="countryCode" type="countryCodeType" minOccurs="0" maxOccurs="1"/>
		</xsi:all>
	</xsi:complexType>
	<xsi:complexType name="incomeType">
		<xsi:all>
			<xsi:element name="isIncomeAtTrusteeDiscretion" type="xsi:boolean" minOccurs="1" maxOccurs="1"/>
			<xsi:element name="shareOfIncome" minOccurs="1" maxOccurs="1">
				<xsi:simpleType>
					<xsi:restriction base="xsi:decimal">
						<xsi:minInclusive value="0.00"/>
						<xsi:maxInclusive value="100.00"/>
						<xsi:fractionDigits value="2"/>
					</xsi:restriction>
				</xsi:simpleType>
			</xsi:element>
		</xsi:all>
	</xsi:complexType>
	<xsi:simpleType name="countryCodeType">
		<xsi:annotation>
			<xsi:documentation>List of ISO Country Codes</xsi:documentation>
		</xsi:annotation>
		<xsi:restriction base="xsi:string">
			<xsi:enumeration value="AD"/>
			<xsi:enumeration value="AE"/>
			<xsi:enumeration value="AF"/>
			<xsi:enumeration value="AG"/>
			<xsi:enumeration value="AI"/>
			<xsi:enumeration value="AL"/>
			<xsi:enumeration value="AM"/>
			<xsi:enumeration value="AN"/>
			<xsi:enumeration value="AO"/>
			<xsi:enumeration value="AQ"/>
			<xsi:enumeration value="AR"/>
			<xsi:enumeration value="AS"/>
			<xsi:enumeration value="AT"/>
			<xsi:enumeration value="AU"/>
			<xsi:enumeration value="AW"/>
			<xsi:enumeration value="AX"/>
			<xsi:enumeration value="AZ"/>
			<xsi:enumeration value="BA"/>
			<xsi:enumeration value="BB"/>
			<xsi:enumeration value="BD"/>
			<xsi:enumeration value="BE"/>
			<xsi:enumeration value="BF"/>
			<xsi:enumeration value="BG"/>
			<xsi:enumeration value="BH"/>
			<xsi:enumeration value="BI"/>
			<xsi:enumeration value="BJ"/>
			<xsi:enumeration value="BL"/>
			<xsi:enumeration value="BM"/>
			<xsi:enumeration value="BN"/>
			<xsi:enumeration value="BO"/>
			<xsi:enumeration value="BQ"/>
			<xsi:enumeration value="BR"/>
			<xsi:enumeration value="BS"/>
			<xsi:enumeration value="BT"/>
			<xsi:enumeration value="BV"/>
			<xsi:enumeration value="BW"/>
			<xsi:enumeration value="BY"/>
			<xsi:enumeration value="BZ"/>
			<xsi:enumeration value="CA"/>
			<xsi:enumeration value="CC"/>
			<xsi:enumeration value="CD"/>
			<xsi:enumeration value="CF"/>
			<xsi:enumeration value="CG"/>
			<xsi:enumeration value="CH"/>
			<xsi:enumeration value="CI"/>
			<xsi:enumeration value="CK"/>
			<xsi:enumeration value="CL"/>
			<xsi:enumeration value="CM"/>
			<xsi:enumeration value="CN"/>
			<xsi:enumeration value="CO"/>
			<xsi:enumeration value="CR"/>
			<xsi:enumeration value="CS"/>
			<xsi:enumeration value="CU"/>
			<xsi:enumeration value="CV"/>
			<xsi:enumeration value="CW"/>
			<xsi:enumeration value="CX"/>
			<xsi:enumeration value="CY"/>
			<xsi:enumeration value="CZ"/>
			<xsi:enumeration value="DE"/>
			<xsi:enumeration value="DJ"/>
			<xsi:enumeration value="DK"/>
			<xsi:enumeration value="DM"/>
			<xsi:enumeration value="DO"/>
			<xsi:enumeration value="DZ"/>
			<xsi:enumeration value="EC"/>
			<xsi:enumeration value="EE"/>
			<xsi:enumeration value="EG"/>
			<xsi:enumeration value="EH"/>
			<xsi:enumeration value="ER"/>
			<xsi:enumeration value="ES"/>
			<xsi:enumeration value="ET"/>
			<xsi:enumeration value="FI"/>
			<xsi:enumeration value="FJ"/>
			<xsi:enumeration value="FK"/>
			<xsi:enumeration value="FM"/>
			<xsi:enumeration value="FO"/>
			<xsi:enumeration value="FR"/>
			<xsi:enumeration value="GA"/>
			<xsi:enumeration value="GB"/>
			<xsi:enumeration value="GD"/>
			<xsi:enumeration value="GE"/>
			<xsi:enumeration value="GF"/>
			<xsi:enumeration value="GG"/>
			<xsi:enumeration value="GH"/>
			<xsi:enumeration value="GI"/>
			<xsi:enumeration value="GL"/>
			<xsi:enumeration value="GM"/>
			<xsi:enumeration value="GN"/>
			<xsi:enumeration value="GP"/>
			<xsi:enumeration value="GQ"/>
			<xsi:enumeration value="GR"/>
			<xsi:enumeration value="GS"/>
			<xsi:enumeration value="GT"/>
			<xsi:enumeration value="GU"/>
			<xsi:enumeration value="GW"/>
			<xsi:enumeration value="GY"/>
			<xsi:enumeration value="HK"/>
			<xsi:enumeration value="HM"/>
			<xsi:enumeration value="HN"/>
			<xsi:enumeration value="HR"/>
			<xsi:enumeration value="HT"/>
			<xsi:enumeration value="HU"/>
			<xsi:enumeration value="ID"/>
			<xsi:enumeration value="IE"/>
			<xsi:enumeration value="IL"/>
			<xsi:enumeration value="IM"/>
			<xsi:enumeration value="IN"/>
			<xsi:enumeration value="IO"/>
			<xsi:enumeration value="IQ"/>
			<xsi:enumeration value="IR"/>
			<xsi:enumeration value="IS"/>
			<xsi:enumeration value="IT"/>
			<xsi:enumeration value="JE"/>
			<xsi:enumeration value="JM"/>
			<xsi:enumeration value="JO"/>
			<xsi:enumeration value="JP"/>
			<xsi:enumeration value="KE"/>
			<xsi:enumeration value="KG"/>
			<xsi:enumeration value="KH"/>
			<xsi:enumeration value="KI"/>
			<xsi:enumeration value="KM"/>
			<xsi:enumeration value="KN"/>
			<xsi:enumeration value="KP"/>
			<xsi:enumeration value="KR"/>
			<xsi:enumeration value="KW"/>
			<xsi:enumeration value="KY"/>
			<xsi:enumeration value="KZ"/>
			<xsi:enumeration value="LA"/>
			<xsi:enumeration value="LB"/>
			<xsi:enumeration value="LC"/>
			<xsi:enumeration value="LI"/>
			<xsi:enumeration value="LK"/>
			<xsi:enumeration value="LR"/>
			<xsi:enumeration value="LS"/>
			<xsi:enumeration value="LT"/>
			<xsi:enumeration value="LU"/>
			<xsi:enumeration value="LV"/>
			<xsi:enumeration value="LY"/>
			<xsi:enumeration value="MA"/>
			<xsi:enumeration value="MC"/>
			<xsi:enumeration value="MD"/>
			<xsi:enumeration value="ME"/>
			<xsi:enumeration value="MF"/>
			<xsi:enumeration value="MG"/>
			<xsi:enumeration value="MH"/>
			<xsi:enumeration value="MK"/>
			<xsi:enumeration value="ML"/>
			<xsi:enumeration value="MM"/>
			<xsi:enumeration value="MN"/>
			<xsi:enumeration value="MO"/>
			<xsi:enumeration value="MP"/>
			<xsi:enumeration value="MQ"/>
			<xsi:enumeration value="MR"/>
			<xsi:enumeration value="MS"/>
			<xsi:enumeration value="MT"/>
			<xsi:enumeration value="MU"/>
			<xsi:enumeration value="MV"/>
			<xsi:enumeration value="MW"/>
			<xsi:enumeration value="MX"/>
			<xsi:enumeration value="MY"/>
			<xsi:enumeration value="MZ"/>
			<xsi:enumeration value="NA"/>
			<xsi:enumeration value="NC"/>
			<xsi:enumeration value="NE"/>
			<xsi:enumeration value="NF"/>
			<xsi:enumeration value="NG"/>
			<xsi:enumeration value="NI"/>
			<xsi:enumeration value="NL"/>
			<xsi:enumeration value="NO"/>
			<xsi:enumeration value="NP"/>
			<xsi:enumeration value="NR"/>
			<xsi:enumeration value="NT"/>
			<xsi:enumeration value="NU"/>
			<xsi:enumeration value="NZ"/>
			<xsi:enumeration value="OM"/>
			<xsi:enumeration value="PA"/>
			<xsi:enumeration value="PE"/>
			<xsi:enumeration value="PF"/>
			<xsi:enumeration value="PG"/>
			<xsi:enumeration value="PH"/>
			<xsi:enumeration value="PK"/>
			<xsi:enumeration value="PL"/>
			<xsi:enumeration value="PM"/>
			<xsi:enumeration value="PN"/>
			<xsi:enumeration value="PR"/>
			<xsi:enumeration value="PS"/>
			<xsi:enumeration value="PT"/>
			<xsi:enumeration value="PW"/>
			<xsi:enumeration value="PY"/>
			<xsi:enumeration value="QA"/>
			<xsi:enumeration value="RE"/>
			<xsi:enumeration value="RO"/>
			<xsi:enumeration value="RS"/>
			<xsi:enumeration value="RU"/>
			<xsi:enumeration value="RW"/>
			<xsi:enumeration value="SA"/>
			<xsi:enumeration value="SB"/>
			<xsi:enumeration value="SC"/>
			<xsi:enumeration value="SD"/>
			<xsi:enumeration value="SE"/>
			<xsi:enumeration value="SG"/>
			<xsi:enumeration value="SH"/>
			<xsi:enumeration value="SI"/>
			<xsi:enumeration value="SJ"/>
			<xsi:enumeration value="SK"/>
			<xsi:enumeration value="SL"/>
			<xsi:enumeration value="SM"/>
			<xsi:enumeration value="SN"/>
			<xsi:enumeration value="SO"/>
			<xsi:enumeration value="SR"/>
			<xsi:enumeration value="SS"/>
			<xsi:enumeration value="ST"/>
			<xsi:enumeration value="SV"/>
			<xsi:enumeration value="SX"/>
			<xsi:enumeration value="SY"/>
			<xsi:enumeration value="SZ"/>
			<xsi:enumeration value="TC"/>
			<xsi:enumeration value="TD"/>
			<xsi:enumeration value="TF"/>
			<xsi:enumeration value="TG"/>
			<xsi:enumeration value="TH"/>
			<xsi:enumeration value="TJ"/>
			<xsi:enumeration value="TK"/>
			<xsi:enumeration value="TL"/>
			<xsi:enumeration value="TM"/>
			<xsi:enumeration value="TN"/>
			<xsi:enumeration value="TO"/>
			<xsi:enumeration value="TP"/>
			<xsi:enumeration value="TR"/>
			<xsi:enumeration value="TT"/>
			<xsi:enumeration value="TV"/>
			<xsi:enumeration value="TW"/>
			<xsi:enumeration value="TZ"/>
			<xsi:enumeration value="UA"/>
			<xsi:enumeration value="UG"/>
			<xsi:enumeration value="UM"/>
			<xsi:enumeration value="UN"/>
			<xsi:enumeration value="US"/>
			<xsi:enumeration value="UY"/>
			<xsi:enumeration value="UZ"/>
			<xsi:enumeration value="VA"/>
			<xsi:enumeration value="VC"/>
			<xsi:enumeration value="VE"/>
			<xsi:enumeration value="VG"/>
			<xsi:enumeration value="VI"/>
			<xsi:enumeration value="VN"/>
			<xsi:enumeration value="VU"/>
			<xsi:enumeration value="WF"/>
			<xsi:enumeration value="WS"/>
			<xsi:enumeration value="YE"/>
			<xsi:enumeration value="YT"/>
			<xsi:enumeration value="ZA"/>
			<xsi:enumeration value="ZM"/>
			<xsi:enumeration value="ZW"/>
		</xsi:restriction>
	</xsi:simpleType>
	<xsi:simpleType name="residentTypeType">
		<xsi:annotation>
			<xsi:documentation>Possible Domiciles
			Code   Title
			----   -----
			0001   Settlor domiciled Trustees nonresident
			0002   Settlor non domiciled becomes domiciled then resident
			0003   Trustee ceases to be resident
		</xsi:documentation>
		</xsi:annotation>
		<xsi:restriction base="xsi:string">
			<xsi:enumeration value="0001"/>
			<xsi:enumeration value="0002"/>
			<xsi:enumeration value="0003"/>
		</xsi:restriction>
	</xsi:simpleType>
	<xsi:simpleType name="roleType">
		<xsi:annotation>
			<xsi:documentation>Possible Capacities
			Code   Title
			----   -----
			0001   Lead Trustee
			0002   Trustee
			0003   Agent
			0004   Executor
		</xsi:documentation>
		</xsi:annotation>
		<xsi:restriction base="xsi:string">
			<xsi:enumeration value="0001"/>
			<xsi:enumeration value="0002"/>
			<xsi:enumeration value="0003"/>
			<xsi:enumeration value="0004"/>
		</xsi:restriction>
	</xsi:simpleType>
	<xsi:simpleType name="telephoneNumberType">
		<xsi:restriction base="xsi:string">
			<xsi:length value="19"/>
			<!-- <xsi:pattern value="^(\?:(\?:\+?1\s*(\?:[.-]\s*)\?)\?(\?:\(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9])\s*\)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(\?:[.-]\s*)?)?([2-9]1[02-9]|[2-9][02-9]1|[2-9][02-9]{2})\s*(\?:[.-]\s*)\?([0-9]{4})(\?:\s*(\?:#|x\.\?|ext\.\?|extension)\s*(\d+))\?$"/> -->
		</xsi:restriction>
	</xsi:simpleType>
	<xsi:simpleType name="postalCodeType">
		<xsi:restriction base="xsi:string">
			<xsi:length value="10"/>
			<!--  to do	<xsi:pattern value="(GIR 0AA)|((([A-Z-[QVX]][0-9][0-9]?)|(([A-Z-[QVX]][A-Z-[IJZ]][0-9][0-9]?)|(([A-Z-[QVX]][0-9][A-HJKPSTUW])|([A-Z-[QVX]][A-Z-[IJZ]][0-9][ABEHMNPRVWXY])))) [0-9][A-Z-[CIKMOV]]{2})"/> -->
		</xsi:restriction>
	</xsi:simpleType>
</xsi:schema>
