public/api/conf/2.0/schemas/trusts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 sp1 (http://www.altova.com) by D Wright (opencast) -->
<!-- W3C Schema generated by XMLSpy v2017 sp1 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1">
	<xs:element name="json">
		<xs:complexType>
			<xs:all>
				<xs:element name="trustEstate" minOccurs="0">
					<xs:complexType>
						<xs:all>
							<xs:element name="trust" minOccurs="0">
								<xs:complexType>
									<xs:all>
										<xs:element name="name" type="xs:string"/>
										<xs:element name="correspondenceAddress">
											<xs:complexType>
												<xs:all>
													<xs:element name="isNonUkAddress" type="xs:boolean"/>
													<xs:element name="line1" type="xs:string" minOccurs="0"/>
													<xs:element name="line2" type="xs:string" minOccurs="0"/>
													<xs:element name="line3" type="xs:string" minOccurs="0"/>
													<xs:element name="line4" type="xs:string" minOccurs="0"/>
													<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
													<xs:element name="country" type="xs:string" minOccurs="0"/>
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="telephoneNumber" type="xs:string"/>
										<xs:element name="currentYear" type="xs:string"/>
										<xs:element name="commencementDate" type="xs:string"/>
										<xs:element name="legality">
											<xs:complexType>
												<xs:all>
													<xs:element name="governingCountry" type="xs:string"/>
													<xs:element name="administrationCountry" type="xs:string"/>
													<xs:element name="previousOffshoreCountry" type="xs:string" minOccurs="0"/>
													<xs:element name="isEstablishedUnderScottishLaw" type="xs:boolean"/>
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="isTrustUkResident" type="xs:boolean"/>
										<xs:element name="isSchedule5A" type="xs:boolean" minOccurs="0"/>
										<xs:element name="nonResidentType" type="xs:string" minOccurs="0"/>
										<xs:element name="leadTrustee">
											<xs:complexType>
												<xs:all>
													<xs:element name="individual" minOccurs="0">
														<xs:complexType>
															<xs:all>
																<xs:element name="title" type="xs:string"/>
																<xs:element name="givenName" type="xs:string"/>
																<xs:element name="otherName" type="xs:string" minOccurs="0"/>
																<xs:element name="familyName" type="xs:string"/>
																<xs:element name="dateOfBirth" type="xs:string"/>
																<xs:element name="nino" type="xs:string" minOccurs="0"/>
																<xs:element name="passport" minOccurs="0">
																	<xs:complexType>
																		<xs:all>
																			<xs:element name="identifier" type="xs:string"/>
																			<xs:element name="expiryDate" type="xs:string"/>
																			<xs:element name="countryOfIssue" type="xs:string"/>
																		</xs:all>
																	</xs:complexType>
																</xs:element>
																<xs:element name="correspondenceAddress" minOccurs="0">
																	<xs:complexType>
																		<xs:all>
																			<xs:element name="isNonUkAddress" type="xs:boolean"/>
																			<xs:element name="line1" type="xs:string" minOccurs="0"/>
																			<xs:element name="line2" type="xs:string" minOccurs="0"/>
																			<xs:element name="line3" type="xs:string" minOccurs="0"/>
																			<xs:element name="line4" type="xs:string" minOccurs="0"/>
																			<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																			<xs:element name="country" type="xs:string" minOccurs="0"/>
																		</xs:all>
																	</xs:complexType>
																</xs:element>
																<xs:element name="telephoneNumber" type="xs:string" minOccurs="0"/>
															</xs:all>
														</xs:complexType>
													</xs:element>
													<xs:element name="company" minOccurs="0">
														<xs:complexType>
															<xs:all>
																<xs:element name="name" type="xs:string"/>
																<xs:element name="referenceNumber" type="xs:string" minOccurs="0"/>
																<xs:element name="correspondenceAddress">
																	<xs:complexType>
																		<xs:all>
																			<xs:element name="isNonUkAddress" type="xs:boolean"/>
																			<xs:element name="line1" type="xs:string" minOccurs="0"/>
																			<xs:element name="line2" type="xs:string" minOccurs="0"/>
																			<xs:element name="line3" type="xs:string" minOccurs="0"/>
																			<xs:element name="line4" type="xs:string" minOccurs="0"/>
																			<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																			<xs:element name="country" type="xs:string" minOccurs="0"/>
																		</xs:all>
																	</xs:complexType>
																</xs:element>
																<xs:element name="telephoneNumber" type="xs:string"/>
															</xs:all>
														</xs:complexType>
													</xs:element>
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="trustees">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:all>
																<xs:element name="title" type="xs:string"/>
																<xs:element name="givenName" type="xs:string"/>
																<xs:element name="otherName" type="xs:string" minOccurs="0"/>
																<xs:element name="familyName" type="xs:string"/>
																<xs:element name="dateOfBirth" type="xs:string"/>
																<xs:element name="nino" type="xs:string" minOccurs="0"/>
																<xs:element name="passport" minOccurs="0">
																	<xs:complexType>
																		<xs:all>
																			<xs:element name="identifier" type="xs:string"/>
																			<xs:element name="expiryDate" type="xs:string"/>
																			<xs:element name="countryOfIssue" type="xs:string"/>
																		</xs:all>
																	</xs:complexType>
																</xs:element>
																<xs:element name="correspondenceAddress" minOccurs="0">
																	<xs:complexType>
																		<xs:all>
																			<xs:element name="isNonUkAddress" type="xs:boolean"/>
																			<xs:element name="line1" type="xs:string" minOccurs="0"/>
																			<xs:element name="line2" type="xs:string" minOccurs="0"/>
																			<xs:element name="line3" type="xs:string" minOccurs="0"/>
																			<xs:element name="line4" type="xs:string" minOccurs="0"/>
																			<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																			<xs:element name="country" type="xs:string" minOccurs="0"/>
																		</xs:all>
																	</xs:complexType>
																</xs:element>
																<xs:element name="telephoneNumber" type="xs:string" minOccurs="0"/>
															</xs:all>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="protectors">
											<xs:complexType>
												<xs:all>
													<xs:element name="individuals" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:all>
																			<xs:element name="title" type="xs:string"/>
																			<xs:element name="givenName" type="xs:string"/>
																			<xs:element name="otherName" type="xs:string" minOccurs="0"/>
																			<xs:element name="familyName" type="xs:string"/>
																			<xs:element name="dateOfBirth" type="xs:string"/>
																			<xs:element name="nino" type="xs:string" minOccurs="0"/>
																			<xs:element name="passport" minOccurs="0">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="identifier" type="xs:string"/>
																						<xs:element name="expiryDate" type="xs:string"/>
																						<xs:element name="countryOfIssue" type="xs:string"/>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="correspondenceAddress" minOccurs="0">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="isNonUkAddress" type="xs:boolean"/>
																						<xs:element name="line1" type="xs:string" minOccurs="0"/>
																						<xs:element name="line2" type="xs:string" minOccurs="0"/>
																						<xs:element name="line3" type="xs:string" minOccurs="0"/>
																						<xs:element name="line4" type="xs:string" minOccurs="0"/>
																						<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																						<xs:element name="country" type="xs:string" minOccurs="0"/>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="telephoneNumber" type="xs:string" minOccurs="0"/>
																		</xs:all>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="companies" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:all>
																			<xs:element name="name" type="xs:string"/>
																			<xs:element name="referenceNumber" type="xs:string" minOccurs="0"/>
																			<xs:element name="correspondenceAddress">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="isNonUkAddress" type="xs:boolean"/>
																						<xs:element name="line1" type="xs:string" minOccurs="0"/>
																						<xs:element name="line2" type="xs:string" minOccurs="0"/>
																						<xs:element name="line3" type="xs:string" minOccurs="0"/>
																						<xs:element name="line4" type="xs:string" minOccurs="0"/>
																						<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																						<xs:element name="country" type="xs:string" minOccurs="0"/>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="telephoneNumber" type="xs:string"/>
																		</xs:all>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="naturalPeople">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:all>
																<xs:element name="title" type="xs:string"/>
																<xs:element name="givenName" type="xs:string"/>
																<xs:element name="otherName" type="xs:string" minOccurs="0"/>
																<xs:element name="familyName" type="xs:string"/>
																<xs:element name="dateOfBirth" type="xs:string"/>
																<xs:element name="nino" type="xs:string" minOccurs="0"/>
																<xs:element name="passport" minOccurs="0">
																	<xs:complexType>
																		<xs:all>
																			<xs:element name="identifier" type="xs:string"/>
																			<xs:element name="expiryDate" type="xs:string"/>
																			<xs:element name="countryOfIssue" type="xs:string"/>
																		</xs:all>
																	</xs:complexType>
																</xs:element>
																<xs:element name="correspondenceAddress" minOccurs="0">
																	<xs:complexType>
																		<xs:all>
																			<xs:element name="isNonUkAddress" type="xs:boolean"/>
																			<xs:element name="line1" type="xs:string" minOccurs="0"/>
																			<xs:element name="line2" type="xs:string" minOccurs="0"/>
																			<xs:element name="line3" type="xs:string" minOccurs="0"/>
																			<xs:element name="line4" type="xs:string" minOccurs="0"/>
																			<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																			<xs:element name="country" type="xs:string" minOccurs="0"/>
																		</xs:all>
																	</xs:complexType>
																</xs:element>
																<xs:element name="telephoneNumber" type="xs:string" minOccurs="0"/>
															</xs:all>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="declaration" minOccurs="0">
											<xs:complexType>
												<xs:all>
													<xs:element name="title" type="xs:string"/>
													<xs:element name="givenName" type="xs:string"/>
													<xs:element name="otherName" type="xs:string" minOccurs="0"/>
													<xs:element name="familyName" type="xs:string"/>
													<xs:element name="capacity" type="xs:string"/>
													<xs:element name="date" type="xs:string"/>
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="interVivoTrust" minOccurs="0">
											<xs:complexType>
												<xs:all>
													<xs:element name="assets">
														<xs:complexType>
															<xs:all>
																<xs:element name="monetaryAssets" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="value" type="xs:decimal" minOccurs="0"/>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="propertyAssets" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="buildingLandName" type="xs:string" minOccurs="0"/>
																						<xs:element name="correspondenceAddress">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="isNonUkAddress" type="xs:boolean"/>
																									<xs:element name="line1" type="xs:string" minOccurs="0"/>
																									<xs:element name="line2" type="xs:string" minOccurs="0"/>
																									<xs:element name="line3" type="xs:string" minOccurs="0"/>
																									<xs:element name="line4" type="xs:string" minOccurs="0"/>
																									<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																									<xs:element name="country" type="xs:string" minOccurs="0"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="propertyLandValue" type="xs:decimal"/>
																						<xs:element name="propertyLandEvalDate" type="xs:string" minOccurs="0"/>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="shareAssets" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="shareNumber" type="xs:decimal"/>
																						<xs:element name="shareClass" type="xs:string"/>
																						<xs:element name="shareType" type="xs:string"/>
																						<xs:element name="companyRegistrationNumber" type="xs:string"/>
																						<xs:element name="shareValue" type="xs:decimal"/>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="businessAssets" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="businessName" type="xs:string"/>
																						<xs:element name="payeRef" type="xs:string"/>
																						<xs:element name="businessDescription" type="xs:string"/>
																						<xs:element name="correspondenceAddress">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="isNonUkAddress" type="xs:boolean"/>
																									<xs:element name="line1" type="xs:string" minOccurs="0"/>
																									<xs:element name="line2" type="xs:string" minOccurs="0"/>
																									<xs:element name="line3" type="xs:string" minOccurs="0"/>
																									<xs:element name="line4" type="xs:string" minOccurs="0"/>
																									<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																									<xs:element name="country" type="xs:string" minOccurs="0"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="value" type="xs:decimal"/>
																						<xs:element name="lastValuationDate" type="xs:string" minOccurs="0"/>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="partnershipAssets" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="tradeOrProfession" type="xs:string"/>
																						<xs:element name="utr" type="xs:string"/>
																						<xs:element name="startOfPartnership" type="xs:string"/>
																						<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
																					</xs:all>
																					<xs:anyAttribute processContents="skip"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="otherAssets" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="OtherAssetDescription" type="xs:string"/>
																						<xs:element name="value" type="xs:decimal"/>
																						<xs:element name="lastValuationDate" type="xs:string" minOccurs="0"/>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:all>
														</xs:complexType>
													</xs:element>
													<xs:element name="settlors">
														<xs:complexType>
															<xs:all>
																<xs:element name="individuals" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="title" type="xs:string"/>
																						<xs:element name="givenName" type="xs:string"/>
																						<xs:element name="otherName" type="xs:string" minOccurs="0"/>
																						<xs:element name="familyName" type="xs:string"/>
																						<xs:element name="dateOfBirth" type="xs:string"/>
																						<xs:element name="nino" type="xs:string" minOccurs="0"/>
																						<xs:element name="passport" minOccurs="0">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="identifier" type="xs:string"/>
																									<xs:element name="expiryDate" type="xs:string"/>
																									<xs:element name="countryOfIssue" type="xs:string"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="correspondenceAddress" minOccurs="0">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="isNonUkAddress" type="xs:boolean"/>
																									<xs:element name="line1" type="xs:string" minOccurs="0"/>
																									<xs:element name="line2" type="xs:string" minOccurs="0"/>
																									<xs:element name="line3" type="xs:string" minOccurs="0"/>
																									<xs:element name="line4" type="xs:string" minOccurs="0"/>
																									<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																									<xs:element name="country" type="xs:string" minOccurs="0"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="telephoneNumber" type="xs:string" minOccurs="0"/>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="companies" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="name" type="xs:string"/>
																						<xs:element name="referenceNumber" type="xs:string" minOccurs="0"/>
																						<xs:element name="correspondenceAddress">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="isNonUkAddress" type="xs:boolean"/>
																									<xs:element name="line1" type="xs:string" minOccurs="0"/>
																									<xs:element name="line2" type="xs:string" minOccurs="0"/>
																									<xs:element name="line3" type="xs:string" minOccurs="0"/>
																									<xs:element name="line4" type="xs:string" minOccurs="0"/>
																									<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																									<xs:element name="country" type="xs:string" minOccurs="0"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="telephoneNumber" type="xs:string"/>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:all>
														</xs:complexType>
													</xs:element>
													<xs:element name="beneficiaries">
														<xs:complexType>
															<xs:all>
																<xs:element name="individualBeneficiaries" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="individual">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="title" type="xs:string"/>
																									<xs:element name="givenName" type="xs:string"/>
																									<xs:element name="otherName" type="xs:string" minOccurs="0"/>
																									<xs:element name="familyName" type="xs:string"/>
																									<xs:element name="dateOfBirth" type="xs:string"/>
																									<xs:element name="nino" type="xs:string" minOccurs="0"/>
																									<xs:element name="passport" minOccurs="0">
																										<xs:complexType>
																											<xs:all>
																												<xs:element name="identifier" type="xs:string"/>
																												<xs:element name="expiryDate" type="xs:string"/>
																												<xs:element name="countryOfIssue" type="xs:string"/>
																											</xs:all>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="correspondenceAddress" minOccurs="0">
																										<xs:complexType>
																											<xs:all>
																												<xs:element name="isNonUkAddress" type="xs:boolean"/>
																												<xs:element name="line1" type="xs:string" minOccurs="0"/>
																												<xs:element name="line2" type="xs:string" minOccurs="0"/>
																												<xs:element name="line3" type="xs:string" minOccurs="0"/>
																												<xs:element name="line4" type="xs:string" minOccurs="0"/>
																												<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																												<xs:element name="country" type="xs:string" minOccurs="0"/>
																											</xs:all>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="telephoneNumber" type="xs:string" minOccurs="0"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="isVulnerable" type="xs:boolean"/>
																						<xs:element name="income">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="isIncomeAtTrusteeDiscretion" type="xs:boolean"/>
																									<xs:element name="shareOfIncome" type="xs:decimal"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="charityBeneficiaries" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="name" type="xs:string"/>
																						<xs:element name="number" type="xs:string"/>
																						<xs:element name="correspondenceAddress">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="isNonUkAddress" type="xs:boolean"/>
																									<xs:element name="line1" type="xs:string" minOccurs="0"/>
																									<xs:element name="line2" type="xs:string" minOccurs="0"/>
																									<xs:element name="line3" type="xs:string" minOccurs="0"/>
																									<xs:element name="line4" type="xs:string" minOccurs="0"/>
																									<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																									<xs:element name="country" type="xs:string" minOccurs="0"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="income">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="isIncomeAtTrusteeDiscretion" type="xs:boolean"/>
																									<xs:element name="shareOfIncome" type="xs:decimal"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="NotYetBornBeneficiaries" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="beneficiaryDescription" type="xs:string"/>
																						<xs:element name="correspondenceAddress">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="isNonUkAddress" type="xs:boolean"/>
																									<xs:element name="line1" type="xs:string" minOccurs="0"/>
																									<xs:element name="line2" type="xs:string" minOccurs="0"/>
																									<xs:element name="line3" type="xs:string" minOccurs="0"/>
																									<xs:element name="line4" type="xs:string" minOccurs="0"/>
																									<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																									<xs:element name="country" type="xs:string" minOccurs="0"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="income">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="isIncomeAtTrusteeDiscretion" type="xs:boolean"/>
																									<xs:element name="shareOfIncome" type="xs:decimal"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:all>
														</xs:complexType>
													</xs:element>
													<xs:element name="isHoldOverClaimed" type="xs:boolean"/>
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="heritageMaintenanceFundTrust" minOccurs="0">
											<xs:complexType>
												<xs:all>
													<xs:element name="assets">
														<xs:complexType>
															<xs:all>
																<xs:element name="monetaryAssets" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="value" type="xs:decimal" minOccurs="0"/>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="propertyAssets" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="buildingLandName" type="xs:string" minOccurs="0"/>
																						<xs:element name="correspondenceAddress">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="isNonUkAddress" type="xs:boolean"/>
																									<xs:element name="line1" type="xs:string" minOccurs="0"/>
																									<xs:element name="line2" type="xs:string" minOccurs="0"/>
																									<xs:element name="line3" type="xs:string" minOccurs="0"/>
																									<xs:element name="line4" type="xs:string" minOccurs="0"/>
																									<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																									<xs:element name="country" type="xs:string" minOccurs="0"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="propertyLandValue" type="xs:decimal"/>
																						<xs:element name="propertyLandEvalDate" type="xs:string" minOccurs="0"/>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="shareAssets" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="shareNumber" type="xs:decimal"/>
																						<xs:element name="shareClass" type="xs:string"/>
																						<xs:element name="shareType" type="xs:string"/>
																						<xs:element name="companyRegistrationNumber" type="xs:string"/>
																						<xs:element name="shareValue" type="xs:decimal"/>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="otherAssets" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="OtherAssetDescription" type="xs:string"/>
																						<xs:element name="value" type="xs:decimal"/>
																						<xs:element name="lastValuationDate" type="xs:string" minOccurs="0"/>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:all>
														</xs:complexType>
													</xs:element>
													<xs:element name="settlors">
														<xs:complexType>
															<xs:all>
																<xs:element name="individuals" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="title" type="xs:string"/>
																						<xs:element name="givenName" type="xs:string"/>
																						<xs:element name="otherName" type="xs:string" minOccurs="0"/>
																						<xs:element name="familyName" type="xs:string"/>
																						<xs:element name="dateOfBirth" type="xs:string"/>
																						<xs:element name="nino" type="xs:string" minOccurs="0"/>
																						<xs:element name="passport" minOccurs="0">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="identifier" type="xs:string"/>
																									<xs:element name="expiryDate" type="xs:string"/>
																									<xs:element name="countryOfIssue" type="xs:string"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="correspondenceAddress" minOccurs="0">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="isNonUkAddress" type="xs:boolean"/>
																									<xs:element name="line1" type="xs:string" minOccurs="0"/>
																									<xs:element name="line2" type="xs:string" minOccurs="0"/>
																									<xs:element name="line3" type="xs:string" minOccurs="0"/>
																									<xs:element name="line4" type="xs:string" minOccurs="0"/>
																									<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																									<xs:element name="country" type="xs:string" minOccurs="0"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="telephoneNumber" type="xs:string" minOccurs="0"/>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="companies" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="name" type="xs:string"/>
																						<xs:element name="referenceNumber" type="xs:string" minOccurs="0"/>
																						<xs:element name="correspondenceAddress">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="isNonUkAddress" type="xs:boolean"/>
																									<xs:element name="line1" type="xs:string" minOccurs="0"/>
																									<xs:element name="line2" type="xs:string" minOccurs="0"/>
																									<xs:element name="line3" type="xs:string" minOccurs="0"/>
																									<xs:element name="line4" type="xs:string" minOccurs="0"/>
																									<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																									<xs:element name="country" type="xs:string" minOccurs="0"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="telephoneNumber" type="xs:string"/>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:all>
														</xs:complexType>
													</xs:element>
													<xs:element name="beneficiaries">
														<xs:complexType>
															<xs:all>
																<xs:element name="buildingLandBeneficiaries" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="correspondenceAddress">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="isNonUkAddress" type="xs:boolean"/>
																									<xs:element name="line1" type="xs:string" minOccurs="0"/>
																									<xs:element name="line2" type="xs:string" minOccurs="0"/>
																									<xs:element name="line3" type="xs:string" minOccurs="0"/>
																									<xs:element name="line4" type="xs:string" minOccurs="0"/>
																									<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																									<xs:element name="country" type="xs:string" minOccurs="0"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="income">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="isIncomeAtTrusteeDiscretion" type="xs:boolean"/>
																									<xs:element name="shareOfIncome" type="xs:decimal"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="otherBeneficiaries" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="beneficiaryDescription" type="xs:string"/>
																						<xs:element name="correspondenceAddress">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="isNonUkAddress" type="xs:boolean"/>
																									<xs:element name="line1" type="xs:string" minOccurs="0"/>
																									<xs:element name="line2" type="xs:string" minOccurs="0"/>
																									<xs:element name="line3" type="xs:string" minOccurs="0"/>
																									<xs:element name="line4" type="xs:string" minOccurs="0"/>
																									<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																									<xs:element name="country" type="xs:string" minOccurs="0"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="income">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="isIncomeAtTrusteeDiscretion" type="xs:boolean"/>
																									<xs:element name="shareOfIncome" type="xs:decimal"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:all>
														</xs:complexType>
													</xs:element>
													<xs:element name="isMultiPurposeIncome" type="xs:boolean"/>
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="flatManagementSinkingFundTrust" minOccurs="0">
											<xs:complexType>
												<xs:all>
													<xs:element name="assets">
														<xs:complexType>
															<xs:all>
																<xs:element name="monetaryAssets" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="value" type="xs:decimal" minOccurs="0"/>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="propertyAssets" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="buildingLandName" type="xs:string" minOccurs="0"/>
																						<xs:element name="correspondenceAddress">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="isNonUkAddress" type="xs:boolean"/>
																									<xs:element name="line1" type="xs:string" minOccurs="0"/>
																									<xs:element name="line2" type="xs:string" minOccurs="0"/>
																									<xs:element name="line3" type="xs:string" minOccurs="0"/>
																									<xs:element name="line4" type="xs:string" minOccurs="0"/>
																									<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																									<xs:element name="country" type="xs:string" minOccurs="0"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="propertyLandValue" type="xs:decimal"/>
																						<xs:element name="propertyLandEvalDate" type="xs:string" minOccurs="0"/>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="shareAssets" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="shareNumber" type="xs:decimal"/>
																						<xs:element name="shareClass" type="xs:string"/>
																						<xs:element name="shareType" type="xs:string"/>
																						<xs:element name="companyRegistrationNumber" type="xs:string"/>
																						<xs:element name="shareValue" type="xs:decimal"/>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="businessAssets" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="businessName" type="xs:string"/>
																						<xs:element name="payeRef" type="xs:string"/>
																						<xs:element name="businessDescription" type="xs:string"/>
																						<xs:element name="correspondenceAddress">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="isNonUkAddress" type="xs:boolean"/>
																									<xs:element name="line1" type="xs:string" minOccurs="0"/>
																									<xs:element name="line2" type="xs:string" minOccurs="0"/>
																									<xs:element name="line3" type="xs:string" minOccurs="0"/>
																									<xs:element name="line4" type="xs:string" minOccurs="0"/>
																									<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																									<xs:element name="country" type="xs:string" minOccurs="0"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="value" type="xs:decimal"/>
																						<xs:element name="lastValuationDate" type="xs:string" minOccurs="0"/>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="partnershipAssets" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="tradeOrProfession" type="xs:string"/>
																						<xs:element name="utr" type="xs:string"/>
																						<xs:element name="startOfPartnership" type="xs:string"/>
																						<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
																					</xs:all>
																					<xs:anyAttribute processContents="skip"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="otherAssets" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="OtherAssetDescription" type="xs:string"/>
																						<xs:element name="value" type="xs:decimal"/>
																						<xs:element name="lastValuationDate" type="xs:string" minOccurs="0"/>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:all>
														</xs:complexType>
													</xs:element>
													<xs:element name="settlors">
														<xs:complexType>
															<xs:all>
																<xs:element name="individuals" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="title" type="xs:string"/>
																						<xs:element name="givenName" type="xs:string"/>
																						<xs:element name="otherName" type="xs:string" minOccurs="0"/>
																						<xs:element name="familyName" type="xs:string"/>
																						<xs:element name="dateOfBirth" type="xs:string"/>
																						<xs:element name="nino" type="xs:string" minOccurs="0"/>
																						<xs:element name="passport" minOccurs="0">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="identifier" type="xs:string"/>
																									<xs:element name="expiryDate" type="xs:string"/>
																									<xs:element name="countryOfIssue" type="xs:string"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="correspondenceAddress" minOccurs="0">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="isNonUkAddress" type="xs:boolean"/>
																									<xs:element name="line1" type="xs:string" minOccurs="0"/>
																									<xs:element name="line2" type="xs:string" minOccurs="0"/>
																									<xs:element name="line3" type="xs:string" minOccurs="0"/>
																									<xs:element name="line4" type="xs:string" minOccurs="0"/>
																									<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																									<xs:element name="country" type="xs:string" minOccurs="0"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="telephoneNumber" type="xs:string" minOccurs="0"/>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="companies" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="name" type="xs:string"/>
																						<xs:element name="referenceNumber" type="xs:string" minOccurs="0"/>
																						<xs:element name="correspondenceAddress">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="isNonUkAddress" type="xs:boolean"/>
																									<xs:element name="line1" type="xs:string" minOccurs="0"/>
																									<xs:element name="line2" type="xs:string" minOccurs="0"/>
																									<xs:element name="line3" type="xs:string" minOccurs="0"/>
																									<xs:element name="line4" type="xs:string" minOccurs="0"/>
																									<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																									<xs:element name="country" type="xs:string" minOccurs="0"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="telephoneNumber" type="xs:string"/>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:all>
														</xs:complexType>
													</xs:element>
													<xs:element name="beneficiaries">
														<xs:complexType>
															<xs:all>
																<xs:element name="buildingLandBeneficiaries" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="correspondenceAddress">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="isNonUkAddress" type="xs:boolean"/>
																									<xs:element name="line1" type="xs:string" minOccurs="0"/>
																									<xs:element name="line2" type="xs:string" minOccurs="0"/>
																									<xs:element name="line3" type="xs:string" minOccurs="0"/>
																									<xs:element name="line4" type="xs:string" minOccurs="0"/>
																									<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																									<xs:element name="country" type="xs:string" minOccurs="0"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="income">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="isIncomeAtTrusteeDiscretion" type="xs:boolean"/>
																									<xs:element name="shareOfIncome" type="xs:decimal"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="otherBeneficiaries" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="beneficiaryDescription" type="xs:string"/>
																						<xs:element name="correspondenceAddress">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="isNonUkAddress" type="xs:boolean"/>
																									<xs:element name="line1" type="xs:string" minOccurs="0"/>
																									<xs:element name="line2" type="xs:string" minOccurs="0"/>
																									<xs:element name="line3" type="xs:string" minOccurs="0"/>
																									<xs:element name="line4" type="xs:string" minOccurs="0"/>
																									<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																									<xs:element name="country" type="xs:string" minOccurs="0"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="income">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="isIncomeAtTrusteeDiscretion" type="xs:boolean"/>
																									<xs:element name="shareOfIncome" type="xs:decimal"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:all>
														</xs:complexType>
													</xs:element>
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="employmentTrust" minOccurs="0">
											<xs:complexType>
												<xs:all>
													<xs:element name="assets">
														<xs:complexType>
															<xs:all>
																<xs:element name="monetaryAssets" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="value" type="xs:decimal" minOccurs="0"/>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="propertyAssets" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="buildingLandName" type="xs:string" minOccurs="0"/>
																						<xs:element name="correspondenceAddress">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="isNonUkAddress" type="xs:boolean"/>
																									<xs:element name="line1" type="xs:string" minOccurs="0"/>
																									<xs:element name="line2" type="xs:string" minOccurs="0"/>
																									<xs:element name="line3" type="xs:string" minOccurs="0"/>
																									<xs:element name="line4" type="xs:string" minOccurs="0"/>
																									<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																									<xs:element name="country" type="xs:string" minOccurs="0"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="propertyLandValue" type="xs:decimal"/>
																						<xs:element name="propertyLandEvalDate" type="xs:string" minOccurs="0"/>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="shareAssets" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="shareNumber" type="xs:decimal"/>
																						<xs:element name="shareClass" type="xs:string"/>
																						<xs:element name="shareType" type="xs:string"/>
																						<xs:element name="companyRegistrationNumber" type="xs:string"/>
																						<xs:element name="shareValue" type="xs:decimal"/>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="businessAssets" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="businessName" type="xs:string"/>
																						<xs:element name="payeRef" type="xs:string"/>
																						<xs:element name="businessDescription" type="xs:string"/>
																						<xs:element name="correspondenceAddress">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="isNonUkAddress" type="xs:boolean"/>
																									<xs:element name="line1" type="xs:string" minOccurs="0"/>
																									<xs:element name="line2" type="xs:string" minOccurs="0"/>
																									<xs:element name="line3" type="xs:string" minOccurs="0"/>
																									<xs:element name="line4" type="xs:string" minOccurs="0"/>
																									<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																									<xs:element name="country" type="xs:string" minOccurs="0"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="value" type="xs:decimal"/>
																						<xs:element name="lastValuationDate" type="xs:string" minOccurs="0"/>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:all>
														</xs:complexType>
													</xs:element>
													<xs:element name="settlors">
														<xs:complexType>
															<xs:all>
																<xs:element name="individuals" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="title" type="xs:string"/>
																						<xs:element name="givenName" type="xs:string"/>
																						<xs:element name="otherName" type="xs:string" minOccurs="0"/>
																						<xs:element name="familyName" type="xs:string"/>
																						<xs:element name="dateOfBirth" type="xs:string"/>
																						<xs:element name="nino" type="xs:string" minOccurs="0"/>
																						<xs:element name="passport" minOccurs="0">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="identifier" type="xs:string"/>
																									<xs:element name="expiryDate" type="xs:string"/>
																									<xs:element name="countryOfIssue" type="xs:string"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="correspondenceAddress" minOccurs="0">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="isNonUkAddress" type="xs:boolean"/>
																									<xs:element name="line1" type="xs:string" minOccurs="0"/>
																									<xs:element name="line2" type="xs:string" minOccurs="0"/>
																									<xs:element name="line3" type="xs:string" minOccurs="0"/>
																									<xs:element name="line4" type="xs:string" minOccurs="0"/>
																									<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																									<xs:element name="country" type="xs:string" minOccurs="0"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="telephoneNumber" type="xs:string" minOccurs="0"/>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="companies" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="name" type="xs:string"/>
																						<xs:element name="referenceNumber" type="xs:string" minOccurs="0"/>
																						<xs:element name="correspondenceAddress">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="isNonUkAddress" type="xs:boolean"/>
																									<xs:element name="line1" type="xs:string" minOccurs="0"/>
																									<xs:element name="line2" type="xs:string" minOccurs="0"/>
																									<xs:element name="line3" type="xs:string" minOccurs="0"/>
																									<xs:element name="line4" type="xs:string" minOccurs="0"/>
																									<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																									<xs:element name="country" type="xs:string" minOccurs="0"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="telephoneNumber" type="xs:string"/>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:all>
														</xs:complexType>
													</xs:element>
													<xs:element name="beneficiaries">
														<xs:complexType>
															<xs:all>
																<xs:element name="individualBeneficiaries" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="individual">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="title" type="xs:string"/>
																									<xs:element name="givenName" type="xs:string"/>
																									<xs:element name="otherName" type="xs:string" minOccurs="0"/>
																									<xs:element name="familyName" type="xs:string"/>
																									<xs:element name="dateOfBirth" type="xs:string"/>
																									<xs:element name="nino" type="xs:string" minOccurs="0"/>
																									<xs:element name="passport" minOccurs="0">
																										<xs:complexType>
																											<xs:all>
																												<xs:element name="identifier" type="xs:string"/>
																												<xs:element name="expiryDate" type="xs:string"/>
																												<xs:element name="countryOfIssue" type="xs:string"/>
																											</xs:all>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="correspondenceAddress" minOccurs="0">
																										<xs:complexType>
																											<xs:all>
																												<xs:element name="isNonUkAddress" type="xs:boolean"/>
																												<xs:element name="line1" type="xs:string" minOccurs="0"/>
																												<xs:element name="line2" type="xs:string" minOccurs="0"/>
																												<xs:element name="line3" type="xs:string" minOccurs="0"/>
																												<xs:element name="line4" type="xs:string" minOccurs="0"/>
																												<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																												<xs:element name="country" type="xs:string" minOccurs="0"/>
																											</xs:all>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="telephoneNumber" type="xs:string" minOccurs="0"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="isVulnerable" type="xs:boolean"/>
																						<xs:element name="income">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="isIncomeAtTrusteeDiscretion" type="xs:boolean"/>
																									<xs:element name="shareOfIncome" type="xs:decimal"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="employeeBeneficiaries" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="individual">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="title" type="xs:string"/>
																									<xs:element name="givenName" type="xs:string"/>
																									<xs:element name="otherName" type="xs:string" minOccurs="0"/>
																									<xs:element name="familyName" type="xs:string"/>
																									<xs:element name="dateOfBirth" type="xs:string"/>
																									<xs:element name="nino" type="xs:string" minOccurs="0"/>
																									<xs:element name="passport" minOccurs="0">
																										<xs:complexType>
																											<xs:all>
																												<xs:element name="identifier" type="xs:string"/>
																												<xs:element name="expiryDate" type="xs:string"/>
																												<xs:element name="countryOfIssue" type="xs:string"/>
																											</xs:all>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="correspondenceAddress" minOccurs="0">
																										<xs:complexType>
																											<xs:all>
																												<xs:element name="isNonUkAddress" type="xs:boolean"/>
																												<xs:element name="line1" type="xs:string" minOccurs="0"/>
																												<xs:element name="line2" type="xs:string" minOccurs="0"/>
																												<xs:element name="line3" type="xs:string" minOccurs="0"/>
																												<xs:element name="line4" type="xs:string" minOccurs="0"/>
																												<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																												<xs:element name="country" type="xs:string" minOccurs="0"/>
																											</xs:all>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="telephoneNumber" type="xs:string" minOccurs="0"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="isVulnerable" type="xs:boolean"/>
																						<xs:element name="income">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="isIncomeAtTrusteeDiscretion" type="xs:boolean"/>
																									<xs:element name="shareOfIncome" type="xs:decimal"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="directorBeneficiaries" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="individual">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="title" type="xs:string"/>
																									<xs:element name="givenName" type="xs:string"/>
																									<xs:element name="otherName" type="xs:string" minOccurs="0"/>
																									<xs:element name="familyName" type="xs:string"/>
																									<xs:element name="dateOfBirth" type="xs:string"/>
																									<xs:element name="nino" type="xs:string" minOccurs="0"/>
																									<xs:element name="passport" minOccurs="0">
																										<xs:complexType>
																											<xs:all>
																												<xs:element name="identifier" type="xs:string"/>
																												<xs:element name="expiryDate" type="xs:string"/>
																												<xs:element name="countryOfIssue" type="xs:string"/>
																											</xs:all>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="correspondenceAddress" minOccurs="0">
																										<xs:complexType>
																											<xs:all>
																												<xs:element name="isNonUkAddress" type="xs:boolean"/>
																												<xs:element name="line1" type="xs:string" minOccurs="0"/>
																												<xs:element name="line2" type="xs:string" minOccurs="0"/>
																												<xs:element name="line3" type="xs:string" minOccurs="0"/>
																												<xs:element name="line4" type="xs:string" minOccurs="0"/>
																												<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																												<xs:element name="country" type="xs:string" minOccurs="0"/>
																											</xs:all>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="telephoneNumber" type="xs:string" minOccurs="0"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="isVulnerable" type="xs:boolean"/>
																						<xs:element name="income">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="isIncomeAtTrusteeDiscretion" type="xs:boolean"/>
																									<xs:element name="shareOfIncome" type="xs:decimal"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="otherBeneficiaries" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="beneficiaryDescription" type="xs:string"/>
																						<xs:element name="correspondenceAddress">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="isNonUkAddress" type="xs:boolean"/>
																									<xs:element name="line1" type="xs:string" minOccurs="0"/>
																									<xs:element name="line2" type="xs:string" minOccurs="0"/>
																									<xs:element name="line3" type="xs:string" minOccurs="0"/>
																									<xs:element name="line4" type="xs:string" minOccurs="0"/>
																									<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																									<xs:element name="country" type="xs:string" minOccurs="0"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																						<xs:element name="income">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="isIncomeAtTrusteeDiscretion" type="xs:boolean"/>
																									<xs:element name="shareOfIncome" type="xs:decimal"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:all>
														</xs:complexType>
													</xs:element>
													<xs:element name="isEmployerFinancedRetirementBenefitScheme" type="xs:boolean"/>
													<xs:element name="employerFinancedRetirementBenefitSchemeStartDate" type="xs:string" minOccurs="0"/>
												</xs:all>
											</xs:complexType>
										</xs:element>
									</xs:all>
								</xs:complexType>
							</xs:element>
							<xs:element name="estate" minOccurs="0">
								<xs:complexType>
									<xs:all>
										<xs:element name="deceased" minOccurs="0">
											<xs:complexType>
												<xs:all>
													<xs:element name="title" type="xs:string"/>
													<xs:element name="givenName" type="xs:string"/>
													<xs:element name="otherName" type="xs:string" minOccurs="0"/>
													<xs:element name="familyName" type="xs:string"/>
													<xs:element name="dateOfBirth" type="xs:string"/>
													<xs:element name="nino" type="xs:string" minOccurs="0"/>
													<xs:element name="passport" minOccurs="0">
														<xs:complexType>
															<xs:all>
																<xs:element name="identifier" type="xs:string"/>
																<xs:element name="expiryDate" type="xs:string"/>
																<xs:element name="countryOfIssue" type="xs:string"/>
															</xs:all>
														</xs:complexType>
													</xs:element>
													<xs:element name="correspondenceAddress" minOccurs="0">
														<xs:complexType>
															<xs:all>
																<xs:element name="isNonUkAddress" type="xs:boolean"/>
																<xs:element name="line1" type="xs:string" minOccurs="0"/>
																<xs:element name="line2" type="xs:string" minOccurs="0"/>
																<xs:element name="line3" type="xs:string" minOccurs="0"/>
																<xs:element name="line4" type="xs:string" minOccurs="0"/>
																<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																<xs:element name="country" type="xs:string" minOccurs="0"/>
															</xs:all>
														</xs:complexType>
													</xs:element>
													<xs:element name="telephoneNumber" type="xs:string" minOccurs="0"/>
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="personalRepresentative" minOccurs="0">
											<xs:complexType>
												<xs:all>
													<xs:element name="individual" minOccurs="0">
														<xs:complexType>
															<xs:all>
																<xs:element name="title" type="xs:string"/>
																<xs:element name="givenName" type="xs:string"/>
																<xs:element name="otherName" type="xs:string" minOccurs="0"/>
																<xs:element name="familyName" type="xs:string"/>
																<xs:element name="dateOfBirth" type="xs:string"/>
																<xs:element name="nino" type="xs:string" minOccurs="0"/>
																<xs:element name="passport" minOccurs="0">
																	<xs:complexType>
																		<xs:all>
																			<xs:element name="identifier" type="xs:string"/>
																			<xs:element name="expiryDate" type="xs:string"/>
																			<xs:element name="countryOfIssue" type="xs:string"/>
																		</xs:all>
																	</xs:complexType>
																</xs:element>
																<xs:element name="correspondenceAddress" minOccurs="0">
																	<xs:complexType>
																		<xs:all>
																			<xs:element name="isNonUkAddress" type="xs:boolean"/>
																			<xs:element name="line1" type="xs:string" minOccurs="0"/>
																			<xs:element name="line2" type="xs:string" minOccurs="0"/>
																			<xs:element name="line3" type="xs:string" minOccurs="0"/>
																			<xs:element name="line4" type="xs:string" minOccurs="0"/>
																			<xs:element name="postalCode" type="xs:string" minOccurs="0"/>
																			<xs:element name="country" type="xs:string" minOccurs="0"/>
																		</xs:all>
																	</xs:complexType>
																</xs:element>
																<xs:element name="telephoneNumber" type="xs:string" minOccurs="0"/>
															</xs:all>
														</xs:complexType>
													</xs:element>
													<xs:element name="isExecutor" type="xs:boolean" minOccurs="0"/>
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="isCreatedByWill" type="xs:boolean"/>
										<xs:element name="estateCriteriaMet" type="xs:boolean"/>
										<xs:element name="adminPeriodFinishedDate" type="xs:boolean"/>
										<xs:element name="incomeTaxDueMoreThan10000" type="xs:boolean"/>
										<xs:element name="saleOfEstateAssetsMoreThan250000" type="xs:boolean" minOccurs="0"/>
										<xs:element name="saleOfEstateAssetsMoreThan500000" type="xs:boolean" minOccurs="0"/>
										<xs:element name="worthMoreThanTwoAndHalfMillionAtTimeOfDeath" type="xs:boolean" minOccurs="0"/>
									</xs:all>
								</xs:complexType>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>
